<!DOCTYPE html>
<html>
<head>
    <title>Flamingo</title>
    <link href="style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="rectangle" id="r1"></div>
    <div class="rectangle" id="r2"></div>
    <div class="rectangle" id="r3"></div>
    <div class="rectangle" id="r4"></div>
    <div class="rectangle" id="r5"></div>
    <img id="flamingo" src="res/flamingo.png" style="width: 13vw;" >
    <h3 class="headers homeHeader">Welcome to Flamingo!</h3>

    <form action="/journal" method="GET">
        <div class="optionDiv">
            <form action="/journal" method="GET">
                <button class="option btn btn-info" type="submit" role="button"><p class="home_button">Journal Entry</p></button>
            </form>
        </div>
    </form>
    <form action="/quoter" method="GET">
        <div class="optionDiv">
            <button class="option btn btn-info" role="button"><p class="home_button">Give me a quote!</p></button>
        </div>
    </form>
    <form action="/locator" method="GET">
        <div class="optionDiv">
            <a class="option btn btn-info" href="options/option3.html" role="button" style="margin-bottom: 0px;"><p class="home_button">Find Help</p></a>
        </div>
    </form>
    <form action="/" method="GET">
        <button class="logReg btn btn-danger" role="button" style="margin: 0px 4vw"><p style="font-size:20px; margin: 0px">Logout</p></button>
    </form>
</body>
</html>