<!DOCTYPE html>
<html>
<head>
    <title>Flamingo</title>
    <link href="style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    
    <div class="rectangle" id="r1"></div>
    <div class="rectangle" id="r2"></div>
    <div class="rectangle" id="r3"></div>
    <div class="rectangle" id="r4"></div>
    <div class="rectangle" id="r5"></div>
    <a href=https://www.youtube.com/watch?v=8VysHWp6miM target="_blank">
        <img id="flamingo" src="res/flamingo.png" style="width: 13vw;" >
    </a>
    <img id="sun" src="res/sun.png" style="width: 50vw;">
    <h1 class="title">Flamingo</h1>
    <h2 class="slogan">Get in touch with your emotions :)</h2>
    <div class="centerDiv">
        <form action="/regpage" method="GET">
            <button type="submit" class="logReg btn btn-primary" role="button"><p class="main_button">Sign Up</p></button>
        </form>
        <form action="/logpage" method="GET">
            <button class="logReg btn btn-success" type="submit" role="button" style="margin: 0px"><p class="main_button">Login</p></button>
        </form>
    </div>
    
</body>
</html>