<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
</head>
<body>
    <div class="rectangle" id="r1"></div>
    <div class="rectangle" id="r2"></div>
    <div class="rectangle" id="r3"></div>
    <div class="rectangle" id="r4"></div>
    <div class="rectangle" id="r5"></div>
    <img id="flamingo" src="../res/flamingo.png"  style="width: 13vw;">
    <div class="centerDiv1" style="min-height: 20vh;"><p class="quoteText">What are you grateful for?</p></div>

    <div class="centerDiv2">
    <form action="/home" method="GET">
        <div class="ourForm form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button class="logReg btn btn-primary" type="submit" role="button" style="margin: 2vh 0vw 2vh 0vw;"><p class="main_button">Submit</p></button>
    </form>
        <form action="/home" method="GET">
            <button class="logReg btn btn-warning" type="submit" role="button" style="margin-top: 0vh"><p class="main_button">Back</p></button>
        </form>
    </div>
</body>
</html>